@import 'tailwindcss';

@theme {
  --aspect-ratio-img: 2/3;

  --animate-slide-in: slide-in 0.3s ease-out;
  --animate-slide-out: slide-out 0.3s ease-out;

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

/* @custom-variant dark (&:where(.dark, .dark *)); */

html,
body {
  @apply min-h-screen;
}
